<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Raja Rani coaching</title>
  <meta name="title" content="Mudberry Studios - Where Clay Becomes Art">
  <meta name="description" content="Crafting elegance - The Art of Pottery Perfection"> 
  <!-- <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml"> -->

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/330edc4930.js" crossorigin="anonymous"></script>
  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./s/style.css">

  <!-- 
    - preload images
  -->
  <!-- <link rel="preload" as="image" href="./assets/images/hero-slider-1.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slider-2.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slider-3.jpg"> -->

</head>

<body id="top">


<section class="section about text-center" aria-labelledby="about-label" id="about">
    <div class="container">

      <div class="about-content">

        <p class="label-2 section-subtitle" id="about-label">Sewing expert</p>

        <h2 class="headline-1 section-title">Mr. John Doe</h2>

        <p class="section-text">
            Versatility is John's hallmark, as he seamlessly blends traditional techniques with modern trends. 
            His tailoring skills encompass a wide range of styles, from sleek minimalist designs to intricately patterned couture. 
            With a knack for understanding fabric properties, he manipulates textiles to achieve the desired drape and structure.
        </p>

      </div>

      <figure class="about-banner">

        <!--./assets/IMG_4888.jpg-->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8ri8zbcOmFx691nBNmIxpmsai3UoCvZMcaeB4Pzzhdz44PZu-Wx2BZfzv9Q&s" height="170" loading="lazy" alt="about banner" class="w-100"
          data-parallax-item data-parallax-speed="1">

        <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
          <!--./min/IMG_4831-min.jpg-->
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqaG0q_dxIoNeeh0Un7TUnD7eqkCVk9ZeRb3XKptn8lvre-sZLvT53W6GExA&s" width="285" height="285" loading="lazy" alt="" class="w-100">
        </div>

        <!-- <div class="abs-img abs-img-2 has-before">
          <img src="./assets/images/badge-2.png" width="133" height="134" loading="lazy" alt="">
        </div> -->

      </figure>

      <!-- <img src="./assets/images/shape-3.png" width="197" height="194" loading="lazy" alt="" class="shape"> -->

    </div>
  </section>

  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>