<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <a ><img src="https://import.cdn.thinkific.com/9889/courses/19316/uCrZJmHRRxuMAlT1CdtQ_Womens%20Course%20Cards-3.png" alt=""></a>
</div>
<div>
    <h1>Price:Rs.150</h1>
</div>
<a href="/"><button style="background-color: aqua; width: 100px; height:50px;" >Buy</button></a>
</body>
</html>